.card-img-top{
    width: 10%;
    
}
.card{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    list-style-type: none;
    width: 90%;
    
}
.spanning{
    color: black;
    font-weight: bold;
}